*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.col{
    display: flex;
    gap: 45%;
}

h1, hr{
    padding: 0;
    margin: 0;
}

.number{
    display: flex;
    align-items: center;
}

.text{
    display: flex;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}