*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin-left: 20px;
}

.input-num {
    width: 50px;
}

.col{
    display: flex;
}

h1 {
    min-width: 100px;
}

h1,
hr{
    padding: 0;
    margin: 0;
}

h3 {
    min-width: 200px;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.clickable:hover {
    background-color: rgba(26, 94, 221, 0.2);
}

.number{
    display: flex;
    align-items: center;
}

.text{
    display: flex;
    align-items: center;
}

footer {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}